@page "/Dispatcher"

<PageTitle>Dispatcher</PageTitle>


<div class="TopTables">
    <div class="TableGroupNameAcceptContainer">
       <strong>ПРИНЯТЬ КОНТЕЙНЕР НА ТЕРМИНАЛ</strong>
   </div>
    <div class="TableGroupNameIssueContainer">
       <strong>ВЫДАТЬ КОНТЕЙНЕР С ТЕРМИНАЛА</strong>
    </div>
    <div class="TableGroupNameIssueStock">
        <strong>СТОК ВЫДАЧИ</strong>
    </div>
    <div class="TableGroupNameAcceptContainer">
        <strong>ТЕРМИНАЛ ПЕРЕМЕЩЕНИЯ</strong>
    </div>
</div>

<div class="TopLine">
    <label for="scheme">Схема:</label>
    <select id="scheme" name="scheme">
        <option value="Test">Test</option>
        <option value="Test">Test</option>
        <option value="Test">Test</option>
    </select>
    <input name="ButtonChangeMode" type="button" value=" Вкл. режим редактирования "> |
    <input name="ButtonUpdateSchema" type="button" value=" Обновить схему "> |
    <input name="ButtonTest" type="button" value=" Тестовая кнопка "> |
    <input name="ButtonTest" type="button" value=" Тестовая кнопка "> |
    <input type="text" name="ContainerNumber" placeholder="Поиск по № контейнера" />
</div>

<div class="BottomDiagram">


</div>

