@page "/Operator2"

<PageTitle>Operator2</PageTitle>

    <table class="TableDrivers">
        <thead>
            <tr>
                <th>Прибывшие водители</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
            </tr>
        </tbody>
    </table>

    <table class="TableArrivingDrivers">
        <thead>
            <tr>
                <th>Время</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>00:00</th>
            </tr>
            <tr>
                <th>00:05</th>
            </tr>
        </tbody>
    </table>