@page "/Settings"

<PageTitle>Settings</PageTitle>

<div name="Settings">
    <h6>Настройка сканера штрих-кодов <input name="ButtonScannerSetup" type="button" value="Настроить"></h6>
    <h6>Не ипользовать сканер штрихкодов <input name="CheckboxScannerWorks" type="checkbox"></h6>
    <h6>Редактировать роли пользователей <input name="ButtonEditRoles" type="button" value="Настроить"></h6>
</div>