@page "/Dispatcher"
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer
@inject IHttpClientFactory ClientFactory
@using System.Text.Json
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using Newtonsoft.Json;
@using Newtonsoft.Json.Converters;
@inject IJSRuntime JsRuntime;

<PageTitle>Dispatcher</PageTitle>

<div class="TopTables">
    <div class="TableGroupNameAcceptContainer">
       <strong>ПРИНЯТЬ КОНТЕЙНЕР НА ТЕРМИНАЛ</strong>
   </div>
    <div class="TableGroupNameIssueContainer">
       <strong>ВЫДАТЬ КОНТЕЙНЕР С ТЕРМИНАЛА</strong>
    </div>
    <div class="TableGroupNameIssueStock">
        <strong>СТОК ВЫДАЧИ</strong>
    </div>
    <div class="TableGroupNameMovementTerminal">
        <strong>ТЕРМИНАЛ ПЕРЕМЕЩЕНИЯ</strong>
    </div>

    <div class="TableGroupNameAcceptContainerContent">
        <div class="TableGroupNameAcceptContainerContentAUTO">AUTO</div> 
        <div class="TableGroupNameAcceptContainerContentHeaderText">ПРИНЯТЬ ОТ АВТОПЕРЕВОЗЧИКА</div>
        <div class="TableGroupNameAcceptContainerContentAcceptRailwayAUTO">AUTO</div>
        <div class="TableGroupNameAcceptContainerContentHeaderText">ПРИНЯТЬ ОТ Ж.Д</div>
        <div class="TableGroupNameAcceptContainerContentAcceptRailwayAUTO">AUTO</div>
        <div class="TableGroupNameAcceptContainerContentHeaderText">ПРИНЯТЬ ОТ СВХ</div>

        <table class="TableAcceptFromTheCarrierPorozh" id="TableAcceptFromTheCarrierPorozh">
            <thead>
                <tr>
                    <th>ПОРОЖ</th>
                    <th>f</th>
                    <th>СТОК</th>                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
                <tr>
                    <td>Test</td><td>Test</td><td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableAcceptFromTheCarrierGruz" id="TableAcceptFromTheCarrierGruz">
            <thead>
                <tr>
                    <th>ГРУЖ</th>
                    <th>f</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableAcceptFromRailwayPorozh" id="TableAcceptFromRailwayPorozh">
            <thead>
                <tr>
                    <th>ПОРОЖ</th>
                    <th>f</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableAcceptFromRailwayGruz" id="TableAcceptFromRailwayGruz">
            <thead>
                <tr>
                    <th>ГРУЖ</th>
                    <th>f</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableAcceptFromStoragePorozh" id="TableAcceptFromStoragePorozh">
            <thead>
                <tr>
                    <th>ПОРОЖ</th>
                    <th>f</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableAcceptFromStorageGruz" id="TableAcceptFromStorageGruz">
            <thead>
                <tr>
                    <th>ГРУЖ</th>
                    <th>f</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="TableGroupNameIssueContainerContent">
        <div class="TableGroupNameIssueContainerContentAUTO" style="color:cornflowerblue;border: 1px solid cornflowerblue;">AUTO</div>
        <div class="TableGroupNameIssueContainerContentHeaderText" style="width: 350px;">ВЫДАТЬ НА АВТОПЕРЕВОЗЧИКА</div>
        <div class="TableGroupNameIssueContainerContentAUTO" >AUTO</div>
        <div class="TableGroupNameIssueContainerContentHeaderText">ВЫДАТЬ Ж.Д</div>

        <table class="TableGroupNameIssuePorozh" id="TableGroupNameIssuePorozh">
            <thead>
                <tr>
                    <th>ПОРОЖ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>                 
                </tr>   
                 <tr>
                    <td>Test</td>                 
                </tr>  
                 <tr>
                    <td>Test</td>                 
                </tr>  
                 <tr>
                    <td>Test</td>                 
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableIssuedMotorCarrierPorozh" id="TableIssuedMotorCarrierPorozh">
            <thead>
                <tr>
                    <th>ПОРОЖ</th>
                    <th>f</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableIssuedMotorCarrierGruz" id="TableIssuedMotorCarrierGruz">
            <thead>
                <tr>
                    <th>ГРУЖ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableIssueRailwayPorozh" id="TableIssueRailwayPorozh">
            <thead>
                <tr>
                    <th>ПОРОЖ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableIssueRailwayGruz" id="TableIssueRailwayGruz">
            <thead>
                <tr>
                    <th>ГРУЖ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>


    </div>

    <div class="TableGroupNameIssueStockContent">
        <div class="TableGroupNameIssueStockContentAUTO">AUTO</div>
        <div class="TableGroupNameIssueStockContentHeaderText">ВЫДАТЬ НА ЗАВТРА</div>

        <table class="TableGroupNameIssueStockPorozh" id="TableGroupNameIssueStockPorozh">
            <thead>
                <tr>
                    <th>ПОРОЖ</th>
                    <th>f</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableGroupNameIssueStockGruz" id="TableGroupNameIssueStockGruz">
            <thead>
                <tr>
                    <th>ГРУЖ</th>
                    <th>f</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

    </div> 

   <div class="TableGroupNameMovementTerminalContent">
        <div class="TableGroupNameMovementTerminalContentAUTO">AUTO</div>
        <div class="TableGroupNameMovementTerminalContentHeaderText">ПЕРЕМЕЩЕНИЕ НА СВХ</div>
        <div class="TableGroupNameMovementTerminalContentAUTO">AUTO</div>
        <div class="TableGroupNameMovementTerminalContentHeaderText">ПЕРЕМЕЩЕНИЕ РЕМОНТ</div>
        <div class="TableGroupNameMovementTerminalContentAUTO">AUTO</div>
        <div class="TableGroupNameMovementTerminalContentHeaderText">ПЕРЕМЕЩЕНИЕ ПРР</div>

        <table class="TableMovementToTswOn" id="TableMovementToTswOn">
            <thead>
                <tr>
                    <th>на ДОСМ</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableMovementToTswFrom" id="TableMovementToTswFrom">
            <thead>
                <tr>
                    <th>из ДОСМ</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableTransportRepairToStock" id="TableTransportRepairToStock">
            <thead>
                <tr>
                    <th>в СТОК</th>
                    <th>F</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableTransportRepairForRepairs" id="TableTransportRepairForRepairs">
            <thead>
                <tr>
                    <th>в РЕМОНТ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableTransportRepairFromRenovation" id="TableTransportRepairFromRenovation">
            <thead>
                <tr>
                    <th>из РЕМОНТ</th>
                    <th>f</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableMovingPrrOnPrr" id="TableMovingPrrOnPrr">
            <thead>
                <tr>
                    <th>на ПРР</th>
                    <th>f</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

        <table class="TableMovingPrrFromPrr" id="TableMovingPrrFromPrr">
            <thead>
                <tr>
                    <th>из ПРР</th>
                    <th>f</th>
                    <th>СТОК</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>

    </div>


</div>


<div class="TopLine">
    <label for="SchemeSelect">Схема:</label>
    <select id="SchemeSelect" name="SchemeSelect">
        @for (int i = 1; i <=3; i++)
        {
            <option value="Test">Test</option>
        }
    </select>
    <input id="ButtonChangeMode" name="ButtonChangeMode" type="button" value="Вкл. режим редактирования" onclick="EditMenuShow()"> |
    <input id="ButtonUpdateSchema" name="ButtonUpdateSchema" type="button" value=" Обновить схему "> |
    <button name="ButtonDownloadDiagram" @onclick="HtmlShems">Загрузить схему</button>
    <input type="text" id="ContainerNumber" class="ContainerNumber" placeholder="Поиск по № контейнера" @oninput='ContainerSearch' @onchange="ContainerSearch" />
</div>

<div class="BottomDiagram" id="BottomDiagram" @onclick="HtmlTableBody">
    @((MarkupString)schemHtml)
</div>

    <table class="BottomTable" id="BottomTable"> @* Таблица контейнеров *@
        <thead>
            <tr>
                <th>Этаж</th>
                <th>Положение</th>
                <th>Тип</th>
                <th>Номер</th>
                <th>Грузоподъемность</th>
                <th>Тара</th>
                <th>Владелец</th>
                <th>Дата завоза</th>
                <th>Спец.отметки</th>
                <th>Перевозчик по разнарядке</th>
                <th>Экспедитор</th>
                <th>Порож</th>
                <th>Заявка КТ 2.0</th>
                <th>Направление</th>
                <th>Номер заявки</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
        @((MarkupString)topTableBodyHtml)
        </tbody>
    </table>


<div class="EditMenu" id="EditMenu">

    <details>
        <summary>Ячейка</summary>
        Максимальная высота: <input type="text" class="TextBoxEditMenu" id="EditMenuCellMaximumHeight" />
    </details>@*Виджет раскрытия Ячейка *@

    <details>
        <summary>Сток</summary>

        <label>Имя стока(зона):</label> <input type="text" class="TextBoxEditMenu" id="EditMenuSinkNameZone" /><br />
        <label>Сокращенное имя зоны:</label> <input type="text" class="TextBoxEditMenu" id="EditMenuSinkShortNameZone" /><br />
        <label>Позиция по X:</label> <input type="text" class="TextBoxEditMenu" id="EditMenuSinkXPosition" /><br />
        <label>Позиция по Y:</label> <input type="text" class="TextBoxEditMenu" id="EditMenuSinkYPosition" /><br />
        <label>Размер по X:</label> <input type="text" class="TextBoxEditMenu" id="EditMenuSinkSizeX" /><br />
        <label>Размер по Y:</label> <input type="text" class="TextBoxEditMenu" id="EditMenuSinkSizeY" /><br />
        <label>Поворот:</label> <input type="text" class="TextBoxEditMenu" id="EditMenuSinkRotation" /><br />

        <label>Ориентация:</label><select id="EditMenuSinkOrientation">
            <option value="Vertical">Вертикально</option>
            <option value="Horizontally">Горизонтально</option>
        </select><br />

        <label>Площадка №:</label><select id="EditMenuSinkSiteNumber">
            <option value="Test">Test</option>
            <option value="Test">Test</option>
        </select><br />

        <label>Тип стока:</label><select id="EditMenuSinkDrainType">
            <option value="Test">Test</option>
            <option value="Test">Test</option>
        </select><br />

        <input type="checkbox" id="EditMenuSinkVisibility" /><label> Видимость</label><br />
        <input type="checkbox" id="EditMenuSinkAccessFromAbove" /><label> Доступ сверху</label><br />
        <input type="checkbox" id="EditMenuSinkEmptyOnly" /><label> Только порожние</label><br />

        <input type="checkbox" id="EditMenuSinkCustoms" /><label> Таможня</label><br />
        <input type="checkbox" id="EditMenuSinkAccessFromBelow" /><label> Доступ снизу</label><br />
        <input type="checkbox" id="EditMenuSinkReverseNumberingRows" /><label> Обратная нумерация рядов</label><br />
        <input type="checkbox" id="EditMenuSinkReverseNumberingColumn" /><label> Обратная нумерация колонок</label><br />

        <label>Отобразить имена: </label> <input type="checkbox" id="EditMenuSinkShowNamesLeft" /><label>Слева</label>  <input type="checkbox" id="EditMenuSinkShowNamesRight" /><label>Справа</label><br />

        <label>Окрашивание рядов:</label> <input type="text" class="TextBoxEditMenuColoringRows" /><br />

    </details> @*Виджет раскрытия Сток *@

    <details>
        <summary>Ряд стока(зоны)</summary>

        <table class="EditMenuZoneDrainRangeTableDrainRangeZones" id="EditMenuZoneDrainRangeTableDrainRangeZones">
            <tr>
                <td>Test1</td>
            </tr>
            <tr>
                <td>Test2</td>
            </tr>
            <tr>
                <td>Test3</td>
            </tr>
            <tr>
                <td>Test4</td>
            </tr>
            <tr>
                <td>Test5</td>
            </tr>
            <tr>
                <td>Test6</td>
            </tr>
        </table><br />

        <label>Номер столбца: </label><input type="text" class="TextBoxEditMenu" id="EditMenuZoneDrainRangeColumnNumber" /><br />
        <label>Размер столбца по типу кт: </label><input type="text" class="TextBoxEditMenu" id="EditMenuZoneDrainRangeColumnSizeCtType" /><br />
        <label>Имя столбца: </label><input type="text" class="TextBoxEditMenu" id="EditMenuZoneDrainRangeColumnName" /><br />
        <label>Строка начала: </label><input type="text" class="TextBoxEditMenu" id="EditMenuZoneDrainRangeStartLine" /><br />
        <label>Строка конец: </label><input type="text" class="TextBoxEditMenu" id="EditMenuZoneDrainRangeEndLine" /><br />

        <label>Тип стока:</label><select id="EditMenuZoneDrainDrainType">
            <option value="FESCO">FESCO</option>
            <option value="ФИТ (отдельный сток)">ФИТ (отдельный сток)</option>
            <option value="CMA">CMA</option>
            <option value="MAERSK">MAERSK</option>
        </select>

    </details>@*Виджет раскрытия Ряд стока(зоны) *@

    <details>
        <summary>Линия стока (зоны)</summary>

        <table class="EditMenuTableDrainLineZones" id="EditMenuTableDrainLineZones">
            <tr>
                <td>TestA</td>
            </tr>
            <tr>
                <td>TestB</td>
            </tr>
            <tr>
                <td>TestC</td>
            </tr>
            <tr>
                <td>TestD</td>
            </tr>
            <tr>
                <td>TestE</td>
            </tr>
            <tr>
                <td>TestF</td>
            </tr>
        </table><br />

        <label>Номер строки: </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>Имя строки: </label><input type="text" class="TextBoxEditMenu" /><br />

        <input type="checkbox" /> <label>Видимость</label><br />

    </details>@*Виджет раскрытия Линия стока (зоны) *@

    <details>
        <summary>Графический объект</summary>

        <table class="EditMenuTableGraphicObject" id="EditMenuTableGraphicObject">
            <tr>
                <td>Object1</td>
            </tr>
            <tr>
                <td>Object2</td>
            </tr>
            <tr>
                <td>Object3</td>
            </tr>
            <tr>
                <td>Object4</td>
            </tr>
            <tr>
                <td>Object5</td>
            </tr>
            <tr>
                <td>Object6</td>
            </tr>
        </table><br />

        <label>Ширина: </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>Высота: </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>X: </label><input type="text" class="TextBoxEditMenu" />  <label>Y: </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>Толщина линии:  </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>Текст: </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>Высота текста: </label><input type="text" class="TextBoxEditMenu" />  <label>Длина текста:  </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>Размер шрифта: </label><input type="text" class="TextBoxEditMenu" /><br />
        <input type="checkbox" /><label> Горизонтальный</label><br />
        <label>Текст X: </label><input type="text" class="TextBoxEditMenu" />  <label>Текст Y: </label><input type="text" class="TextBoxEditMenu" /><br />

    </details>@*Виджет раскрытия Графический объект*@

    <details>
        <summary>Справочник</summary>

        <label>X: </label><input type="text" class="TextBoxEditMenu" /><br />
        <label>Y: </label><input type="text" class="TextBoxEditMenu" /><br />
    </details>@*Виджет раскрытия Справочник*@

    <input type="button" value="Добавить схему"> <input type="button" value="Заполнить схему из старой схемы"><br />
    <input type="button" value="Очистить схему"><br />
    <input type="button" value="Добавить графический объект"> <input type="button" value="Добавить сток"><br />
    <input type="button" value="Сохранить"><br />
</div>


<script>
    let selector = 0;//Отображение EditMenu

    function EditMenuShow() {
        let doc = document.getElementById('EditMenu');//Для скрытия и показа EditMenu
        if (selector == 0) {
            doc.style.visibility = "visible"; 
            selector = 1;

        }
        else if (selector == 1) 
        {
            doc.style.visibility = "hidden";
            selector = 0;
        }
    }
</script>


<script>
    let doc = document.querySelector('.BottomDiagram'); //зона для работы click
    let div = ""; //Div в котором производим манипуляции
    let positionZone = "";//Позиция ячейки в таблице
    let elTop = 0;//Координата Y для div
    let elLeft = 0;//Координата X для div
    let activeElement = "";//Элемент который выбрали для поворота
    let degree = "0";//Градус поворота
    let containerNumberText = "";//Номер контейнера

    const EditMenuCellMaximumHeight = document.getElementById("EditMenuCellMaximumHeight");//Текстовое поле меню максимальная высота

    const EditMenuSinkNameZone = document.getElementById("EditMenuSinkNameZone");//Текстовое поле меню редактирования имя стока (зона)
    const EditMenuSinkShortNameZone = document.getElementById("EditMenuSinkShortNameZone");//Текстовое поле меню редактирования сокращенное имя зоны
    const EditMenuSinkXPosition = document.getElementById("EditMenuSinkXPosition");//Текстовое поле меню редактирования позиция по X
    const EditMenuSinkYPosition = document.getElementById("EditMenuSinkYPosition");//Текстовое поле меню редактирования позиция по Y
    const EditMenuSinkSizeX = document.getElementById("EditMenuSinkSizeX");//Текстовое поле меню редактирования размер по X
    const EditMenuSinkSizeY = document.getElementById("EditMenuSinkSizeY");//Текстовое поле меню редактирования размер по Y
    const EditMenuSinkRotation = document.getElementById("EditMenuSinkRotation");//Текстовое поле меню редактирования поворот

    const EditMenuSinkOrientation = document.getElementById("EditMenuSinkOrientation");//выпадающий список ориентация меню редактирования поворот
    const EditMenuSinkSiteNumber = document.getElementById("EditMenuSinkSiteNumber");//выпадающий список площадка № меню редактирования поворот
    const EditMenuSinkDrainType = document.getElementById("EditMenuSinkDrainType");//выпадающий список тип стока меню редактирования поворот

    const EditMenuSinkVisibility = document.getElementById("EditMenuSinkVisibility");//checkbox видимость меню редактирования
    const EditMenuSinkAccessFromAbove = document.getElementById("EditMenuSinkAccessFromAbove");//checkbox доступ сверху меню редактирования
    const EditMenuSinkEmptyOnly = document.getElementById("EditMenuSinkEmptyOnly");//checkbox только порожние меню редактирования


    const EditMenuZoneDrainRangeColumnNumber = document.getElementById("EditMenuZoneDrainRangeColumnNumber"); 
    const EditMenuZoneDrainRangeColumnSizeCtType = document.getElementById("EditMenuZoneDrainRangeColumnSizeCtType");
    const EditMenuZoneDrainRangeColumnName = document.getElementById("EditMenuZoneDrainRangeColumnName");
    const EditMenuZoneDrainRangeStartLine = document.getElementById("EditMenuZoneDrainRangeStartLine");
    const EditMenuZoneDrainRangeEndLine = document.getElementById("EditMenuZoneDrainRangeEndLine");


    doc.addEventListener('click', function (event) { //Получение названия div при событий click
        div = ".div" + event.target.getAttribute('Class');
        // alert(event.target.getAttribute('id')); //Проверка работы currentTarget
        positionZone = event.target.getAttribute('Id');        
        elTop = doc.querySelector(div).offsetTop;
        elLeft = doc.querySelector(div).offsetLeft;
        if (selector == 1) {
            EditMenuSinkNameZone.value = event.target.getAttribute('Name');
            EditMenuSinkShortNameZone.value = event.target.getAttribute('Name').replace(/\s/g, '').replace('Зона', '');
            EditMenuSinkXPosition.value = document.querySelector(div).offsetLeft;
            EditMenuSinkYPosition.value = document.querySelector(div).offsetTop; 
            EditMenuSinkSizeX.value = document.querySelector(div).offsetWidth;
            EditMenuSinkSizeY.value = document.querySelector(div).offsetHeight;

            
            var st = window.getComputedStyle(document.querySelector(div), null);//Блок обработки матрицы transform для получения degreeRotation
            var tr = st.getPropertyValue("-webkit-transform") ||
                st.getPropertyValue("-moz-transform") ||
                st.getPropertyValue("-ms-transform") ||
                st.getPropertyValue("-o-transform") ||
                st.getPropertyValue("transform") ||
                "FAIL";
            var values = tr.split('(')[1],
                values = values.split(')')[0],
                values = values.split(',');
            var degree = values[1];
            var degreeRotation = Math.round(Math.asin(degree) * (180 / Math.PI));           
            EditMenuSinkRotation.value = degreeRotation;

            let Class = document.querySelector(div).getElementsByTagName('th');
            for (const cell of Class) { 
                if (cell.innerHTML.includes('div')) { 
                alert(cell.textContent);
                }
            }       
        }
    });

    function positionZoneNet() {
        return positionZone;
    }

    function containerNumberValue() {
        containerNumberText = document.getElementById('ContainerNumber').value;
        return containerNumberText;
    }

    function changeStrokeColor(divName) 
    {
        document.getElementById(divName).scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'center' })
        document.getElementById(divName).style.border = "2px solid red";
    }

    function cleaningStrokeColor(divName) {
        document.getElementById(divName).style.border = "1px solid white";
    }


    function moveElement(evt) {//Перемещение div клавишами WASD
        if (selector == 1) { //Проверка активно или нет меню редактирования
            let keypress = evt.keyCode;
            if (div != null) //Проверка что div задан
            {
                if (keypress == 87) { //Передвижение div вверх клавишей W
                    doc.querySelector(div).style.top = (elTop = elTop - 5) + 'px';
                }
                if (keypress == 83) { //Передвижение div вниз клавишей S
                    doc.querySelector(div).style.top = (elTop = elTop + 5) + 'px';
                }
                if (keypress == 65) { //Передвижение div влево клавишей A
                    doc.querySelector(div).style.left = (elLeft = elLeft - 5) + 'px';
                }
                if (keypress == 68) { //Передвижение div вправо клавишей D
                    doc.querySelector(div).style.left = (elLeft = elLeft + 5) + 'px';
                }
                if (keypress == 81) { //Поворот div влево клавишей Q
                    degree -= 5;
                    if (degree != null) {
                        doc.querySelector(div).style.transform
                            = "rotate(" + degree + "deg)";
                    }
                }
                if (keypress == 69) { //Поворот div вправо клавишей E
                    degree += 5;
                    if (degree != null) {
                        doc.querySelector(div).style.transform
                            = "rotate(" + degree + "deg)";
                    }
                }
            }
        }
    }
    document.addEventListener("keydown", moveElement);
</script>

@* <script>
    window.containerSearch = () => {
        DotNet.invokeMethodAsync('TMS.Web', 'ContainerSearch')
            .then(data => {
                console.log(data);
            });
    };
</script> *@

<script>//Cкролл BottomDiagram при зажатий левой кнопки мыши    
    (function () {
        let speed = 1; // Скорость скролла.
        let scroll = document.querySelector('.BottomDiagram'); //зона скролла
        let left = 0; // отпустили мышку - сохраняем положение скролла x
        let top = 0;  // отпустили мышку - сохраняем положение скролла y
        let drag = false;
        let coorX = 0; // нажали мышку - сохраняем координаты x.
        let coorY = 0; // нажали мышку - сохраняем координаты y.
        event.preventDefault();
            scroll.addEventListener('mousedown', function (e) {
                if (event.button == 0 || event.button == 1) {
                    drag = true;
                    coorX = e.pageX - this.offsetLeft;
                    coorY = e.pageY - this.offsetTop;
                }
            });
            document.addEventListener('mouseup', function (e) {
            if (event.button == 0 || event.button == 1)
            {
                drag = false;
                left = scroll.scrollLeft;
                top = scroll.scrollTop;
            }
            });
            scroll.addEventListener('mousemove', function (e) {
                if (drag) {
                    this.scrollLeft = left - (e.pageX - this.offsetLeft - coorX) * speed;
                    this.scrollTop = top - (e.pageY - this.offsetTop - coorY) * speed;
                }
            });
    })();
</script>



@code{
    string schemHtml = ""; //HTML код для заполнения div BottomDiagram
    string topTableBodyHtml = "";  //HTML код для заполнения тела таблицы BottomTable
    string containerNumber = "";
    string idZone = "";
    string nameIdZone = "";
    string oldnameIdZone = "";

    async Task HtmlShems()
    {
        schemHtml = ""; //Очистка перед отрисовкой
        try
        {
            var stocksList = await StocksListJson();
            for (int g = 0; g < stocksList.GraphicalObjectsScheme.Count; g++) //Отрисовка графических элементов
            {
                if (stocksList.GraphicalObjectsScheme[g].HorizontalText == true)
                {
                    schemHtml += "<style type=\"text/css\">"
                  + ".GraphicalObjects" + stocksList.GraphicalObjectsScheme[g].Id + "{position:absolute;top:" + stocksList.GraphicalObjectsScheme[g].PositionY + "px;left:" + stocksList.GraphicalObjectsScheme[g].PositionX + "px;border-width:1px; border-color:black;border-style:solid;width:" + stocksList.GraphicalObjectsScheme[g].Width + "px;height:" + stocksList.GraphicalObjectsScheme[g].Height + "px;}"
                  + ".Text" + stocksList.GraphicalObjectsScheme[g].Id + " {font-size:" + stocksList.GraphicalObjectsScheme[g].FontSize + "px;top:" + stocksList.GraphicalObjectsScheme[g].PositionTextY + "px;left:" + stocksList.GraphicalObjectsScheme[g].PositionTextX + "px;width:" + stocksList.GraphicalObjectsScheme[g].WidthTxt + "px;height:" + stocksList.GraphicalObjectsScheme[g].HeightTxt + "px;border: 1px solid black;text-align: center;overflow:hidden;position:absolute;font-weight:bold;}"
                  + "</style>"
                  + "<div class=\"GraphicalObjects" + stocksList.GraphicalObjectsScheme[g].Id + "\">"
                  + "<div class=\"Text" + stocksList.GraphicalObjectsScheme[g].Id + "\">"
                  + stocksList.GraphicalObjectsScheme[g].Text
                  + "</div>"
                  + "</div>";
                }
                else if (stocksList.GraphicalObjectsScheme[g].HorizontalText == false)
                {
                    schemHtml += "<style type=\"text/css\">"
                  + ".GraphicalObjects" + stocksList.GraphicalObjectsScheme[g].Id + "{position:absolute;top:" + stocksList.GraphicalObjectsScheme[g].PositionY + "px;left:" + stocksList.GraphicalObjectsScheme[g].PositionX + "px;border-width:1px; border-color:black;border-style:solid;width:" + stocksList.GraphicalObjectsScheme[g].Width + "px;height:" + stocksList.GraphicalObjectsScheme[g].Height + "px;}"
                  + ".Text" + stocksList.GraphicalObjectsScheme[g].Id + " {font-size:" + stocksList.GraphicalObjectsScheme[g].FontSize + "px;top:" + stocksList.GraphicalObjectsScheme[g].PositionTextY + "px;left:" + stocksList.GraphicalObjectsScheme[g].PositionTextX + "px;width:" + stocksList.GraphicalObjectsScheme[g].WidthTxt + "px;height:" + stocksList.GraphicalObjectsScheme[g].HeightTxt + "px; border: 1px solid black;text-align: center; writing-mode: vertical-lr;overflow:hidden;position:absolute;font-weight:bold;}"
                  + "</style>"
                  + "<div class=\"GraphicalObjects" + stocksList.GraphicalObjectsScheme[g].Id + "\">"
                  + "<div class=\"Text" + stocksList.GraphicalObjectsScheme[g].Id + "\">"
                  + stocksList.GraphicalObjectsScheme[g].Text
                  + "</div>"
                  + "</div>";
                }
            }
            for (int p = 0; p < stocksList.Stocks.Count; p++)//Отрисовка таблиц
            {
                if (stocksList.Stocks[p].Orientation == 1) //Отрисовка горизонтально    
                {
                    schemHtml += "<style type=\"text/css\">"
                    + ".divTable" + stocksList.Stocks[p].Id + "{-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);table-layout: fixed;overflow:hidden;position:absolute;top:" + stocksList.Stocks[p].PositionY + "px;left:" + stocksList.Stocks[p].PositionX + "px;table-layout: fixed;}"
                    + ".divTable" + stocksList.Stocks[p].Id + " TH {font-weight: bold;padding: 1px;text-align:center;font-size: 10px;}"
                    + ".divTable" + stocksList.Stocks[p].Id + " TD {border: 1px solid black;padding: 1px;text-align: center;font-size: 10px;}"
                    + ".divTable" + stocksList.Stocks[p].Id + " TD:hover {border: 1px solid black;padding: 1px;text-align: center;font-size: 10px;background: #F08080;}"
                    + "</style>"
                    + "<div class=\"divTable" + stocksList.Stocks[p].Id + "\" id=\"Table" + stocksList.Stocks[p].Id + "\">"
                    + "<strong>" + stocksList.Stocks[p].Name + "</strong>"
                    + "<table>"
                    + "<thead>";
                    schemHtml += "</thead>";
                    schemHtml += "<tbody>";
                    schemHtml += "<tr>";
                    schemHtml += "<th height=15px></th>";
                    for (int i = 0; i < stocksList?.Stocks[p].Columns.Count; i++)
                    {
                        schemHtml += "<th width=" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px height=15px><div style =\"min-width:" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px\" class=\"Table" + stocksList.Stocks[p].Id + "\">" + stocksList?.Stocks[p].Columns[i].DisplayName + "</div></th>"; //Вывод названия столбцов таблицы по вертикале
                    }
                    schemHtml += "</tr>";

                    for (int j = 0; j < stocksList?.Stocks[p].Rows.Count; j++)
                    {
                        if (stocksList?.Stocks[p].Rows[j].Visibility == 1)
                        {
                            schemHtml += "<tr>";
                            schemHtml += "<th height=15>" + stocksList?.Stocks[p].Rows[j].RowName + "</th>";
                            for (int i = 0; i < stocksList?.Stocks[p].Columns.Count; i++)
                            {
                                if (stocksList?.Stocks[p].Rows[j].Visibility == 1)//Проверка на то что можно отрисовывать
                                {                                   
                                    if (j < stocksList?.Stocks[p].Columns[i].CellsList.Count)//Для нормальной отрисовки столбцов разной размерности
                                    {
                                        schemHtml += "<td width=" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px bgcolor=" + stocksList?.Stocks[p].Columns[i].CellsList[j].Statuses[0].ColorHex + " height=15px><div style=\"min-width:" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px\" class=\"Table" + stocksList.Stocks[p].Id + "\" id=\"" + stocksList?.Stocks[p].Columns[i].CellsList[j].Name + "\" name=\"" + stocksList.Stocks[p].Name + "\">" + stocksList?.Stocks[p].Columns[i].CellsList[j].Containers.Count + "</div></td>"; //Содержимое таблицы
                                    }
                                    else
                                    {
                                        schemHtml += "<th></th>";
                                    }
                                }
                            }
                            schemHtml += "</tr>";
                        }
                    }


                    schemHtml += "<tr>";
                    schemHtml += "<th height=15px></th>";
                    for (int i = 0; i < stocksList?.Stocks[p].Columns.Count; i++)
                    {
                        schemHtml += "<th width=" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px height=15px><div style=\"min-width:" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px\" class=\"Table" + stocksList.Stocks[p].Id + "\">" + stocksList?.Stocks[p].Columns[i].DisplayName + "</div></th>"; //Вывод названия строк таблицы по горизонтали
                    }
                    schemHtml += "</tr>";

                    schemHtml += "</tbody>";
                    schemHtml += "</table>";
                    schemHtml += "</div>";
                }
                else if (stocksList.Stocks[p].Orientation == 2) //Отрисовка вертикально
                {
                    schemHtml += "<style type=\"text/css\">"
                    + ".divTable" + stocksList.Stocks[p].Id + "{-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);table-layout: fixed;overflow:hidden;position:absolute;top:" + stocksList.Stocks[p].PositionY + "px;left:" + stocksList.Stocks[p].PositionX + "px;table-layout: fixed;}"
                    + ".divTable" + stocksList.Stocks[p].Id + " TH {font-weight: bold;padding: 1px;font-size: 10px;}"
                    + ".divTable" + stocksList.Stocks[p].Id + " TD {border: 1px solid black;padding: 1px;font-size: 10px;}"
                    + ".divTable" + stocksList.Stocks[p].Id + " TD:hover {border: 1px solid black;padding: 1px;text-align: center;font-size: 10px;background: #F08080;}"
                    + "</style>"
                    + "<div class=\"divTable" + stocksList.Stocks[p].Id + "\" id=\"Table" + stocksList.Stocks[p].Id + "\">"
                    + "<strong>" + stocksList.Stocks[p].Name + "</strong>"
                    + "<table>"
                    + "<thead>";
                    schemHtml += "</thead>";
                    schemHtml += "<tbody>";

                    for (int i = 0; i < stocksList?.Stocks[p].Columns.Count; i++)
                    {
                        schemHtml += "<tr>";
                        schemHtml += "<th height=" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px width=15px><div style=\"min-height:" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px;min-width:15px;\">" + stocksList?.Stocks[p].Columns[i].DisplayName + "</div></th>"; //Вывод название строки (лево)
                        for (int j = 0; j < stocksList?.Stocks[p].Rows.Count; j++)
                        {                           
                            if (stocksList?.Stocks[p].Rows[j].Visibility == 1)//Проверка на то что можно отрисовывать
                            {
                                schemHtml += "<td height=" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px bgcolor=" + stocksList?.Stocks[p].Columns[i].CellsList[j].Statuses[0].ColorHex + " width=15px><div style=\"min-height:" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px;min-width:15px;\"class=\"Table" + stocksList.Stocks[p].Id + "\"id=\"" + stocksList?.Stocks[p].Columns[i].CellsList[j].Name + "\" name=\"" + stocksList.Stocks[p].Name + "\">" + stocksList?.Stocks[p].Columns[i].CellsList[j].Containers.Count + "</div></td>"; //Содержимое таблицы
                            }
                            else
                            {
                                schemHtml += "<th></th>";
                            }
                        }
                        schemHtml += "<th height=" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px width=15px><div style=\"min-height:" + (stocksList?.Stocks[p].Columns[i].Size + 20) + "px;min-width:15px;\"class=\"Table" + stocksList.Stocks[p].Id + "\">" + stocksList?.Stocks[p].Columns[i].DisplayName + "</div></th>"; //Вывод название строки (право)
                        schemHtml += "</tr>";
                    }

                    schemHtml += "</tbody>";
                    schemHtml += "</table>";
                    schemHtml += "</div>";
                }
            }           
        }
        catch (Exception ex)
        {
            schemHtml = ex.ToString();
        }
    }

    async Task HtmlTableBody()
    {
        idZone = await JsRuntime.InvokeAsync<string>("positionZoneNet"); //Получение idZone из функции js
        topTableBodyHtml = "";  //Очистка перед отрисовкой
        try
        {
            var stocksList = await StocksListJson();
            topTableBodyHtml += "<style type=\"text/css\">"
            + ".BottomTable {border-collapse: collapse;min-height:100px;max-height: 150px;display: inline-block;}"
            + ".BottomTable TD {border: 1px solid black;padding: 1px;font-size: 10px;}"
            + ".BottomTable tbody{min-height:100px;}"
            + "</style>";
            for (int p = 0; p < stocksList.Stocks.Count; p++)//Отрисовка тела таблицы
            {
                for (int i = 0; i < stocksList.Stocks[p].Columns.Count; i++)
                {
                    for (int j = 0; j < stocksList.Stocks[p].Columns[i].CellsList.Count; j++)
                    {
                        if (stocksList.Stocks[p].Columns[i].CellsList[j].Name == idZone)
                        {
                            for (int a = 0; a < stocksList.Stocks[p].Columns[i].CellsList[j].Containers.Count; a++)
                            {
                                topTableBodyHtml += "<tr>";
                                topTableBodyHtml += "<td>" + stocksList.Stocks[p].Columns[i].CellsList[j].Containers[a].ZIndex + "</td>";//Заполнение Этажа
                                topTableBodyHtml += "<td>" + stocksList.Stocks[p].Columns[i].CellsList[j].Name + "</td>";//Заполнение Положения
                                if (stocksList.Stocks[p].Columns[i].CellsList[j].Containers[a].Type40Or20 == 20) //Проверка на тип контейнера
                                {
                                    topTableBodyHtml += "<td>22G1</td>";//Заполнение типа
                                }
                                else if (stocksList.Stocks[p].Columns[i].CellsList[j].Containers[a].Type40Or20 == 40)
                                {
                                    topTableBodyHtml += "<td>45G1</td>";//Заполнение типа
                                }
                                topTableBodyHtml += "<td>" + stocksList.Stocks[p].Columns[i].CellsList[j].Containers[a].Number + "</td>";//Заполнение Номера
                                topTableBodyHtml += "<td>30480</td>";//Заполнение грузоподъемности (временное)
                                topTableBodyHtml += "<td>2100</td>";//Заполнение тары (временное)
                                topTableBodyHtml += "<td>ФИТ ООО</td>";//Заполнение владельца (временное)
                                topTableBodyHtml += "<td>23.09.2023 14:29:00</td>";//Заполнение даты завоза (временное)
                                topTableBodyHtml += "<td>ЗПУ:</td>";//Заполнение спец отметки (временное)
                                topTableBodyHtml += "<td>Пусто</td>";//Заполнение перевозчик по разнарядке (временное)
                                topTableBodyHtml += "<td>СТЛ-УРАЛ ООО</td>";//Заполнение экспедитор (временное)
                                topTableBodyHtml += "<td><input type='checkbox' checked></td>";//Заполнение порож (временное)
                                topTableBodyHtml += "<td>Поезд: , ст.: </td>";//Заполнение Заявка КТ 2.0 (временное)
                                topTableBodyHtml += "<td>Пусто</td>";//Заполнение Направление (временное)
                                topTableBodyHtml += "<td>" + stocksList.Stocks[p].Columns[i].CellsList[j].Containers[a].AcceptanceBidId + "</td>";//Заполнение Номер заявки
                                topTableBodyHtml += "<td>Пусто</td>";//Заполнение Статус (временное)
                                topTableBodyHtml += "</tr>";
                            }
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {
            topTableBodyHtml = ex.ToString();
        }
    }

    async Task ContainerSearch()//Поиск контейнера
    {
        containerNumber = await JsRuntime.InvokeAsync<string>("containerNumberValue"); //Получение номера контейнера из функции js;
        try
        {
            if (containerNumber?.Length > 5)//Проверка что в поле ContainerNumber больше 5 символов
            {
                var stocksList = await StocksListJson();
                for (int p = 0; p < stocksList.Stocks.Count; p++)
                {
                    for (int i = 0; i < stocksList.Stocks[p].Columns.Count; i++)
                    {
                        for (int j = 0; j < stocksList.Stocks[p].Columns[i].CellsList.Count; j++)
                        {
                            for (int a = 0; a < stocksList.Stocks[p].Columns[i].CellsList[j].Containers.Count; a++)
                            {
                                if (stocksList.Stocks[p].Columns[i].CellsList[j].Containers[a].Number.Contains(containerNumber))
                                {
                                    nameIdZone = stocksList.Stocks[p].Columns[i].CellsList[j].Name; 
                                    await JsRuntime.InvokeVoidAsync("changeStrokeColor", nameIdZone);//Обводка ячейки с необходимым контейнером
                                    if (oldnameIdZone != "")
                                    {
                                        if (oldnameIdZone != nameIdZone)
                                        {
                                            await JsRuntime.InvokeVoidAsync("cleaningStrokeColor", oldnameIdZone);//Очистка прошлой ячейки от обводки
                                        }
                                    }
                                    oldnameIdZone = nameIdZone;
                                }                              
                            }
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {                     
            ex.ToString();
        }
    }

  
    async Task<TMS.Domain.Models.StocksList> StocksListJson()
    {
        var textResponse = await HttpClient();
        TMS.Domain.Models.StocksList? stocksList = JsonConvert.DeserializeObject<TMS.Domain.Models.StocksList>(textResponse);
        return stocksList;
    }


    async Task<string> HttpClient()
    {       
        try
        {
            HttpClient httpClient = ClientFactory.CreateClient();
            var request = await httpClient.GetAsync("");
            var response = await request.Content.ReadAsStringAsync();
            return response;  
        }
        catch (Exception ex)
        {
            return ex.ToString();
        }
    }
}