.TopLineElements {
    background: #E0FFFF;
    white-space: nowrap;
    width:100%;
}


.TableInventoryControl {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
}

.TextOwnerKT {
    width: 80px;
}

.TextSearchKT {
    width: 80px;
}

.TextSearchpAplicationNumber {
    width: 80px;
}