@page "/InventoryControl"

<PageTitle>InventoryControl</PageTitle>

<div class="TopLineElements">
    <input class="ButtonUpdate" name="ButtonUpdate" type="button" value="Обновить"> |
    <input class="ButtonAdd" name="ButtonAdd" type="button" value="Добавить"> |
    <input class="ButtonChange" name="ButtonChange" type="button" value="Изменить"> |
    <input class="ButtonDelete" name="ButtonDelete" type="button" value="Удалить"> |
    <tt> Владелец КТ: </tt> <input type="text" name="TextOwnerKT" class="TextOwnerKT"> |
    <tt><input name="CheckboxOnlyDeleted" type="checkbox" class="CheckboxOnlyDeleted"> Только удаленные</tt> |
    <input class="ButtonForTwoWeeks" name="ButtonForTwoWeeks" type="button" value="За две недели"> |
    <tt> Поиск КТ: </tt> <input type="text" name="TextSearchKT" class="TextSearchKT"> |
    <tt> Поиск по номеру заявки: </tt> <input type="text" name="TextSearchpAplicationNumber" class="TextSearchpAplicationNumber">
</div>

 <table class="TableInventoryControl">
        <thead>
            <tr>
                <th>ИД</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Транспорт</th>
                <th>Состояние</th>
                <th>Номер заявки</th>
                <th>Контейнер</th>
                <th>Клиент / Распорядитель</th>
                <th>Экспедитор</th>
                <th>Дата плановая</th>
                <th>Дата фактическая</th>
                <th>Принята</th>
                <th>Подтверждена</th>
                <th>Выполнена</th>
                <th>Тип</th>
                <th>Изм.</th>
                <th>Собственник</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Test</th>
                <th>Test</th>
            </tr>
            <tr>
                <th>Test</th>
                <th>Test</th>
            </tr>
        </tbody>
    </table>