
/*.TableDivDrivers {
    float: left;
}

.TableDivArrivingDrivers {
    float: left;
}
*/
.TableArrivingDrivers {
    border-collapse: collapse;
    margin-left: 25px;
    float: left;
}

td, th {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
}

.TableDrivers {
    border-collapse: collapse;
    float: left;
}

.TableZpy {
    border-collapse: collapse;
    margin-left: 25px;
    float: left;
}

.DivTextBoxAndButton {
    float: right;
}
